@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css);
.axis line,
.axis path {
  fill: none;
  stroke: #000;
}

body {
    font-family: "Open Sans", Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    height: 100%;
    padding-bottom: 2em;
}

h3 {
    padding-bottom: 20px;
}

.controls {
    margin-left: 25px;
}

.axis text {  
    font-size: 10px;
}

.axis-label {
    font-size: 12px;
}

.bar {
  fill: dodgerblue;
  opacity: .4;
}

#content {
    text-align: center;
}

#description {
    margin-top: 50px;
}

#description p {
    text-align: left;
}